.main {
    margin: 100px 200px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    padding-bottom: 50px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}