
{# Extend the index.html view with this line #}
{% extends 'index.html' %}

{# Define the content that will be used specifically on this page #}
{% block content %}

    <div class="row">
    {# Loop through all the Book objects from the Database #}
        {% for book in books %}
            <div class="col s4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img style="width: 100%; height: 385px" class="activator" src="{{ book.image }}">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">{{ book.title }}<i class="material-icons right">more_vert</i></span>
                      <p>{{ book.author }}</p> <br>
                      <p>
                          <i class="tiny material-icons">stars</i> {{ book.rating }} Star Rating <br>
                      </p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">{{ book.title }}<i class="material-icons right">close</i></span>
                      <p>{{ book.description }}</p>
                    </div>
                </div>
            </div>
        {# end for loop #}
        {% endfor %}
    </div>

{# end block content #}
{% endblock content %}